In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
#Drop EIN and Special_considerations
application_df = application_df.drop(columns=["EIN", "SPECIAL_CONSIDERATIONS"])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,36500179,0

In [5]:
# Look at Name value counts for binning
v_counts = application_df["NAME"].value_counts()
v_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# cut out the names of companies that have less instances/cut out outliers
Names_to_replace = list(v_counts[v_counts<10].index)

In [9]:
# Replace in dataframe
for name in Names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
bin_classifier = application_df["CLASSIFICATION"].value_counts()
bin_classifier

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
bin_classification = bin_classifier[bin_classifier>1]
bin_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace and up the amount to 100
classifications_to_replace = list(bin_classifier[bin_classifier<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [13]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1,31452,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,1,7508025,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,1,94389,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=40)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_layer_nodes1 = 10
hidden_layer_nodes2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_nodes1, input_dim=input_features, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_nodes2, input_dim=input_features, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                2790
_________________________________________________________________
dense_1 (Dense)              (None, 20)                220
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 21
=================================================================
Total params: 3,031
Trainable params: 3,031
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [20]:
# Train the model
model_fit = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 820us/step - loss: 0.5376 - accuracy: 0.7349
Epoch 2/100
804/804 [==============================] - 1s 824us/step - loss: 0.4538 - accuracy: 0.7799
Epoch 3/100
804/804 [==============================] - 1s 780us/step - loss: 0.4445 - accuracy: 0.7819
Epoch 4/100
804/804 [==============================] - 1s 816us/step - loss: 0.4421 - accuracy: 0.7832
Epoch 5/100
804/804 [==============================] - 1s 829us/step - loss: 0.4401 - accuracy: 0.7861
Epoch 6/100
804/804 [==============================] - 1s 855us/step - loss: 0.4389 - accuracy: 0.7871
Epoch 7/100
804/804 [==============================] - 1s 815us/step - loss: 0.4375 - accuracy: 0.7870
Epoch 8/100
804/804 [==============================] - 1s 830us/step - loss: 0.4366 - accuracy: 0.7876
Epoch 9/100
804/804 [==============================] - 1s 796us/step - loss: 0.4356 - accuracy: 0.7873
Epoch 10/100
804/804 [==============================] - 1s 809us/step - loss: 0.4342 - accuracy: 0.7885
Epoch 11/100
804/804 [==============================] - 1s 818us/step - loss: 0.4330 - accuracy: 0.7890
Epoch 12/100
804/804 [==============================] - 1s 804us/step - loss: 0.4320 - accuracy: 0.7886
Epoch 13/100
804/804 [==============================] - 1s 811us/step - loss: 0.4315 - accuracy: 0.7895
Epoch 14/100
804/804 [==============================] - 1s 821us/step - loss: 0.4311 - accuracy: 0.7891
Epoch 15/100
804/804 [==============================] - 1s 822us/step - loss: 0.4307 - accuracy: 0.7900
Epoch 16/100
804/804 [==============================] - 1s 824us/step - loss: 0.4304 - accuracy: 0.7894
Epoch 17/100
804/804 [==============================] - 1s 840us/step - loss: 0.4297 - accuracy: 0.7914
Epoch 18/100
804/804 [==============================] - 1s 831us/step - loss: 0.4294 - accuracy: 0.7899
Epoch 19/100
804/804 [==============================] - 1s 806us/step - loss: 0.4293 - accuracy: 0.7910
Epoch 20/100
804/804 [==============================] - 1s 820us/step - loss: 0.4290 - accuracy: 0.7909
Epoch 21/100
804/804 [==============================] - 1s 816us/step - loss: 0.4285 - accuracy: 0.7921
Epoch 22/100
804/804 [==============================] - 1s 846us/step - loss: 0.4287 - accuracy: 0.7909
Epoch 23/100
804/804 [==============================] - 1s 991us/step - loss: 0.4282 - accuracy: 0.7923
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4279 - accuracy: 0.7927
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4275 - accuracy: 0.7924: 0s -
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4275 - accuracy: 0.7919
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4273 - accuracy: 0.7908
Epoch 28/100
804/804 [==============================] - 1s 883us/step - loss: 0.4268 - accuracy: 0.7921
Epoch 29/100
804/804 [==============================] - 1s 827us/step - loss: 0.4266 - accuracy: 0.7930
Epoch 30/100
804/804 [==============================] - 1s 866us/step - loss: 0.4263 - accuracy: 0.7922
Epoch 31/100
804/804 [==============================] - 1s 827us/step - loss: 0.4265 - accuracy: 0.7929
Epoch 32/100
804/804 [==============================] - 1s 834us/step - loss: 0.4258 - accuracy: 0.7943
Epoch 33/100
804/804 [==============================] - 1s 854us/step - loss: 0.4257 - accuracy: 0.7930
Epoch 34/100
804/804 [==============================] - 1s 868us/step - loss: 0.4260 - accuracy: 0.7933
Epoch 35/100
804/804 [==============================] - 1s 826us/step - loss: 0.4255 - accuracy: 0.7939
Epoch 36/100
804/804 [==============================] - 1s 832us/step - loss: 0.4255 - accuracy: 0.7930
Epoch 37/100
804/804 [==============================] - 1s 840us/step - loss: 0.4257 - accuracy: 0.7933
Epoch 38/100
804/804 [==============================] - 1s 825us/step - loss: 0.4254 - accuracy: 0.7930
Epoch 39/100
804/804 [==============================] - 1s 835us/step - loss: 0.4253 - accuracy: 0.7937
Epoch 40/100
804/804 [==============================] - 1s 832us/step - loss: 0.4250 - accuracy: 0.7936
Epoch 41/100
804/804 [==============================] - 1s 827us/step - loss: 0.4246 - accuracy: 0.7941
Epoch 42/100
804/804 [==============================] - 1s 887us/step - loss: 0.4243 - accuracy: 0.7933
Epoch 43/100
804/804 [==============================] - 1s 904us/step - loss: 0.4242 - accuracy: 0.7952
Epoch 44/100
804/804 [==============================] - 1s 857us/step - loss: 0.4244 - accuracy: 0.7926
Epoch 45/100
804/804 [==============================] - 1s 862us/step - loss: 0.4243 - accuracy: 0.7931
Epoch 46/100
804/804 [==============================] - 1s 841us/step - loss: 0.4237 - accuracy: 0.7943
Epoch 47/100
804/804 [==============================] - 1s 827us/step - loss: 0.4238 - accuracy: 0.7943
Epoch 48/100
804/804 [==============================] - 1s 855us/step - loss: 0.4241 - accuracy: 0.7944
Epoch 49/100
804/804 [==============================] - 1s 835us/step - loss: 0.4240 - accuracy: 0.7945
Epoch 50/100
804/804 [==============================] - 1s 820us/step - loss: 0.4235 - accuracy: 0.7935
Epoch 51/100
804/804 [==============================] - 1s 832us/step - loss: 0.4236 - accuracy: 0.7946
Epoch 52/100
804/804 [==============================] - 1s 845us/step - loss: 0.4235 - accuracy: 0.7939
Epoch 53/100
804/804 [==============================] - 1s 826us/step - loss: 0.4234 - accuracy: 0.7947
Epoch 54/100
804/804 [==============================] - 1s 821us/step - loss: 0.4232 - accuracy: 0.7941
Epoch 55/100
804/804 [==============================] - 1s 819us/step - loss: 0.4234 - accuracy: 0.7944
Epoch 56/100
804/804 [==============================] - 1s 848us/step - loss: 0.4233 - accuracy: 0.7954
Epoch 57/100
804/804 [==============================] - 1s 897us/step - loss: 0.4229 - accuracy: 0.7944
Epoch 58/100
804/804 [==============================] - 1s 840us/step - loss: 0.4230 - accuracy: 0.7949
Epoch 59/100
804/804 [==============================] - 1s 827us/step - loss: 0.4229 - accuracy: 0.7949
Epoch 60/100
804/804 [==============================] - 1s 835us/step - loss: 0.4228 - accuracy: 0.7947
Epoch 61/100
804/804 [==============================] - 1s 850us/step - loss: 0.4226 - accuracy: 0.7941
Epoch 62/100
804/804 [==============================] - 1s 850us/step - loss: 0.4228 - accuracy: 0.7954
Epoch 63/100
804/804 [==============================] - 1s 832us/step - loss: 0.4225 - accuracy: 0.7948
Epoch 64/100
804/804 [==============================] - 1s 842us/step - loss: 0.4229 - accuracy: 0.7962
Epoch 65/100
804/804 [==============================] - 1s 857us/step - loss: 0.4226 - accuracy: 0.7952
Epoch 66/100
804/804 [==============================] - 1s 836us/step - loss: 0.4223 - accuracy: 0.7954
Epoch 67/100
804/804 [==============================] - 1s 868us/step - loss: 0.4229 - accuracy: 0.7941
Epoch 68/100
804/804 [==============================] - 1s 929us/step - loss: 0.4220 - accuracy: 0.7948
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4220 - accuracy: 0.7951
Epoch 70/100
804/804 [==============================] - 1s 987us/step - loss: 0.4222 - accuracy: 0.7948
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4222 - accuracy: 0.7952
Epoch 72/100
804/804 [==============================] - 1s 974us/step - loss: 0.4220 - accuracy: 0.7952
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4215 - accuracy: 0.7959
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4215 - accuracy: 0.7954
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4217 - accuracy: 0.7951
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4213 - accuracy: 0.7954
Epoch 77/100
804/804 [==============================] - 1s 991us/step - loss: 0.4214 - accuracy: 0.7954
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4215 - accuracy: 0.7952
Epoch 79/100
804/804 [==============================] - 1s 991us/step - loss: 0.4212 - accuracy: 0.7955
Epoch 80/100

804/804 [==============================] - 1s 985us/step - loss: 0.4214 - accuracy: 0.7945
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4209 - accuracy: 0.7950
Epoch 82/100
804/804 [==============================] - 1s 991us/step - loss: 0.4210 - accuracy: 0.7951
Epoch 83/100
804/804 [==============================] - 1s 972us/step - loss: 0.4211 - accuracy: 0.7958
Epoch 84/100
804/804 [==============================] - 1s 988us/step - loss: 0.4207 - accuracy: 0.7964
Epoch 85/100
804/804 [==============================] - 1s 968us/step - loss: 0.4212 - accuracy: 0.7944
Epoch 86/100
804/804 [==============================] - 1s 983us/step - loss: 0.4208 - accuracy: 0.7960
Epoch 87/100
804/804 [==============================] - 1s 985us/step - loss: 0.4207 - accuracy: 0.7959
Epoch 88/100
804/804 [==============================] - 1s 967us/step - loss: 0.4209 - accuracy: 0.7950
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4208 - accuracy: 0.7956
Epoch 90/100
804/804 [==============================] - 1s 974us/step - loss: 0.4204 - accuracy: 0.7967
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4212 - accuracy: 0.7949
Epoch 92/100
804/804 [==============================] - 1s 985us/step - loss: 0.4204 - accuracy: 0.7945
Epoch 93/100
804/804 [==============================] - 1s 995us/step - loss: 0.4203 - accuracy: 0.7968
Epoch 94/100
804/804 [==============================] - 1s 976us/step - loss: 0.4205 - accuracy: 0.7949
Epoch 95/100
804/804 [==============================] - 1s 985us/step - loss: 0.4201 - accuracy: 0.7972
Epoch 96/100
804/804 [==============================] - 1s 977us/step - loss: 0.4201 - accuracy: 0.7957
Epoch 97/100
804/804 [==============================] - 1s 994us/step - loss: 0.4202 - accuracy: 0.7966
Epoch 98/100
804/804 [==============================] - 1s 990us/step - loss: 0.4201 - accuracy: 0.7962
Epoch 99/100
804/804 [==============================] - 1s 974us/step - loss: 0.4204 - accuracy: 0.7963
Epoch 100/100
804/804 [==============================] - 1s 982us/step - loss: 0.4200 - accuracy: 0.7963

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4580 - accuracy: 0.7820
Loss: 0.4579716622829437, Accuracy: 0.7820408344268799

In [22]:
nn.save("AlphabetSoupCharity_Optimization.h5")